a {
    border: 3px solid #FF5151;
    border-radius: 10px;
    font-size: 16px;
}

.main {
    font-family: "108590050";
    /* 改成自己的 Simple & Medium Baseline 字型檔 */
    font-weight: 900;
}

.poems {
    font-family: 'cjkFonts 全瀨體';
    /* Strong Baseline 字型檔 */
}

@font-face {
    font-family: "108590050";
    src: local("108590050.ttf"), url(108590050.ttf);
    /* 改成自己的 Simple & Medium Baseline 字型檔 */
    /* src: local("cjkFonts_allseto_v1.11"), url(cjkFonts_allseto_v1.11.ttf); Strong Baseline 字型檔 */
    font-weight: bold;
}

a:visited {
    color: #0000EE;
}

a:hover {
    color: #FF5151;
}

* {
    box-sizing: border-box;
}

.column0 {
    float: left;
    width: 20%;
    padding: 5px;
    height: 200px;
}

.column1 {
    float: left;
    width: 20%;
    padding: 5px;
    height: 300px;
}

.column2 {
    float: left;
    width: 20%;
    padding: 5px;
    height: 340px;
}

.column3 {
    float: left;
    width: 20%;
    padding: 5px;
    height: 380px;
}

.column5 {
    float: left;
    width: 20%;
    padding: 5px;
    height: 460px;
}

.column8 {
    float: left;
    width: 20%;
    padding: 5px;
    height: 580px;
}

.column10 {
    float: left;
    width: 20%;
    padding: 5px;
    height: 660px;
}

.column11 {
    float: left;
    width: 20%;
    padding: 5px;
    height: 700px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}